Django==1.5.4
argparse==1.2.1
astroid==1.0.1
ipython==1.1.0
logilab-common==0.60.0
lucene-querybuilder==0.2
mongoengine==0.8.4
neomodel==0.3.6
py2neo==1.5
pylint==1.0.0
pymongo==2.6.3
pytz==2013b
wsgiref==0.1.2
