{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="SearchApp">

  <head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="{% static "populate/angular.min.js" %}"></script>
    <script type="text/javascript" src="{% static "populate/search.js" %}"></script>
    <style type="text/css">
        input {
            width: 40%;
            height: 40px;
            font-size: 28px;
        }
    </style>
  </head>

  <body>
    <form ng-controller="autoSuggest" name="searchForm" method="post" action="/results/">
                {% csrf_token %}
                <input type="text" name="searchInput" ng-model="inputPhrase" placeholder="Search" required>
            </form>

  </body>

</html>